/* Set default styles for body */
body {
    margin: 0 auto;
    max-width: 700px;
    min-width: 0;
    padding: 0 10px 25px;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #444;
    display: grid;
    row-gap: 5px;
    grid-template-columns: auto auto;
    grid-template-rows: 60px auto;
    grid-template-areas:
      "header nav"
      "ct ct";
  }
  
  /* Set styles for headings */
  h1, h2, strong {
    color: #222;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 23px;
    margin-top: 0;
    padding-top: 0.5em;
  }
  a {
    color: #FB8B1E;
  }
  /* Set styles for header and nav */
  header {
    grid-area: header;
    margin: 0;
    font-size: 23px;
    justify-self: left;
    align-self: end;
  }
  nav {
    grid-area: nav;
    font-size: 18px;
    letter-spacing: 1px;
    justify-self: right;
    align-self: end;
  }
  nav a {
    margin-left: 20px;
    text-align: right;
    color: #FB8B1E;
  }
  
  /* Set styles for article content */
  article {
    grid-area: ct;
    border-top: 2px solid gray;
    font-size: 18px;
  }
  
  /* Set styles for bold links */
  .bold-link {
    font-weight: bold;
  }
  
  /* Set media queries for small screens */
  @media screen and (max-width: 430px) {
    body {
      grid-template-columns: auto;
      grid-template-rows: minmax(40px, auto) minmax(30px, auto) auto auto;
      grid-template-areas:
        "header"
        "nav"
        "ct";
    }
    header, nav {
      text-align: center;
      justify-self: center;
    }
    nav a {
      margin: 0 10px;
    }
  }